{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "allowImportExportEverywhere": false
  },
  "env": {
    "es6": true,
    "node": true
  },
  "extends": ["airbnb", "plugin:jest/recommended", "prettier", "prettier/react"],
  "plugins": ["jest"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".json", ".css"]
      }
    }
  },
  "rules": {
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "react/prop-types": 0,
    "react/jsx-filename-extension": 0,
    "max-len": [
      "error",
      {
        "code": 110,
        "ignoreComments": true,
        "ignoreRegExpLiterals": true,
        "ignoreTemplateLiterals": true,
        "ignoreTrailingComments": true,
        "ignoreUrls": true
      }
    ],
    "curly": ["error", "all"],
    "lines-around-comment": [
      "error",
      {
        "beforeBlockComment": true,
        "afterBlockComment": true,
        "beforeLineComment": true,
        "afterLineComment": true,
        "allowBlockStart": true,
        "allowBlockEnd": true,
        "allowObjectStart": true,
        "allowObjectEnd": true,
        "allowArrayStart": true,
        "allowArrayEnd": true
      }
    ],
    "no-tabs": "error",
    "import/extensions": [
      "error",
      "always",
      {
        "js": "never",
        "jsx": "never",
        "styl": "never",
        "css": "never"
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": true,
        "peerDependencies": true
      }
    ]
  },
  "globals": {
    "window": true,
    "document": true,
    "__dirname": true,
    "__DEV__": true,
    "CONFIG": true,
    "process": true,
    "jest": true,
    "describe": true,
    "test": true,
    "it": true,
    "expect": true,
    "beforeEach": true,
    "fetch": true,
    "alert": true
  }
}
